{{define "title"}}Admin{{end}} {{define "content"}}

<h1 class="h1 text-2xl font-bold">Identity Admin</h1>

<div class="p-2 m-2">
    <div class="grid grid-cols-2">
        <div>
            <p class="bg-blue-300 p-2">Users</p>
            <div class="p-1 border-b flex justify-between">
                <p><a href="/admin/users" class="text-blue-800">Users</a></p>
                <div x-data="{ open: false }">
                    <span @click="open = ! open" class="text-blue-800 cursor-pointer">Create New User</span>
                    <div class="modal" x-cloak x-show="open">
                        <div class="modal-underlay" _="on click trigger closeModal"></div>
                        <div class="modal-content" @click.outside="open = false">
                            <h1 class="h1">Add New User</h1>
                            <div class="m-2 p-2">
                                <form hx-post="/admin/users/add"
                                      hx-target="#create-result"
                                      hx-swap="innerHTML">
                                    {{.csrfField}}
                                    <div class="container">
                                        <div>
                                            <label for="email"><b>Username</b></label>
                                            <input
                                                    id="email"
                                                    type="text"
                                                    placeholder="Email"
                                                    name="email"
                                                    required
                                                    class="w-full"
                                                    onchange="onAddUserFormChange()"
                                            />
                                        </div>
                                        <div class="mt-2 pt-2">
                                            <label for="password"><b>Password</b></label>
                                            <input
                                                    id="password"
                                                    type="password"
                                                    placeholder="Enter Password"
                                                    name="password"
                                                    required
                                                    autocomplete="off"
                                                    class="w-full"
                                                    oninput="onAddUserFormChange()"
                                            />
                                        </div>
                                        <div class="mt-2 pt-2">
                                            <label class="inline-flex items-center" for="is-admin">
                                                <input id="is-admin" name="is-admin" type="checkbox" checked onchange="onAddUserFormChange()"/>
                                                <span class="ml-2 font-bold">Should the User be an Admin?</span>
                                            </label>
                                            <p class="text-sm text-gray-600">Admin Users can create/change/delete other users!</p>
                                        </div>
                                        <div id="create-result"></div>
                                        <div class="mt-2 pt-2">
                                            <div class="text-right">
                                                <button
                                                        type="button"
                                                        @click="open = false"
                                                        class="button danger uppercase"
                                                >
                                                    Close
                                                </button>
                                                <button
                                                    type="submit"
                                                    class="button primary uppercase"
                                                >
                                                    Add User
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="p-1 border-b">
                <a href="admin/user-deletions" class="text-blue-800">User Deletions</a>
            </div>
        </div>
        <div></div>
    </div>
</div>

<script>
    function onAddUserFormChange() {
        const obj = document.getElementById("create-result");
        obj.innerHTML = "";
    }
</script>
{{end}}